body{
    overflow-x: hidden;
}

.banner{
    width: 100%;
    height: 100vh;
}

.car-banner{
    background: url('../img/car.png');
    background-repeat: repeat;
    background-size: cover;
}

.mini-title{
    font-size: 1.3rem;
}

.big-title{
    font-size: 4rem;
}

.banner-login{
    background: url('../img/login-banner.png');
    background-repeat: repeat;
    background-size: cover;
}

.banner-register{
    background: url('../img/register-banner.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.tools-bar{
    height: 100vh;
}

.icon-container-bar{
    margin: 10px 0 0 0;
}

.nav-lateral{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* responsive desing */

/* mobile */
@media only screen and (max-width: 600px){

    .car-banner{
        display: none;
    }

    .mini-title{
        font-size: 0.7rem;
    }
    
    .big-title{
        font-size: 2.3rem;
    }

    .banner{
        height: 80vh;
        background-position-y: center;
    }

    .banner-s{
        height: 30vh;

    }

}

/* tablet */


/* colores de iconos */
.icon-white{
    fill: #ffffff;
}